<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msqhealth.main">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.msqhealth.main.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.msqhealth.main.activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.msqhealth.main.activities.SplashScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.msqhealth.main.activities.authentication.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.msqhealth.main.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.msqhealth.main.activities.PublicationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.msqhealth.main.fragments.CategoryProductListFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAP2FuRBJMmskDKPXlvU-iEbe4oyVB9kmU" />

        <activity
            android:name="com.msqhealth.main.activities.ViewProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.msqhealth.main.activities.EditProfileActivity" />
        <activity
            android:name="com.msqhealth.main.activities.ListingDetailsActivity"
            android:label="@string/title_activity_listing_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.msqhealth.main.activities.PaymentGatewayWebView"
            android:label="@string/title_activity_listing_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.msqhealth.main.activities.FeaturedItemDetails"
            android:label="@string/title_activity_featured_item_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.msqhealth.main.activities.ContactUsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.msqhealth.main.activities.EditProfileActivityUpdated" />
        <activity android:name="com.msqhealth.main.activities.ConfirmCheckoutActivity" />
        <activity android:name="com.msqhealth.main.activities.WelcomeSetupActivity" />
        <activity
            android:name="com.msqhealth.main.activities.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AboutUs"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.TermsAndCondtionsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
    </application>

</manifest>